header {
    background-color: #B12C00;
    color: #FF6500;
    text-align: center;
    max-width: 880px;
    margin: 0 auto;
    padding: 16px;

}

body {
    background-color: #ffebd2;
}
img{
    width: 100px;
    background-color: #ffebd2;
}